.full-height {
  height: 100vh;
  background: rgb(0,111,123);
  background: linear-gradient(183deg, rgba(0,111,123,1) 0%, rgba(31,137,143,1) 18%, rgba(87,169,183,1) 69%, rgba(142,213,227,1) 100%);
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-container {
  background-color: #1A2A3A;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-control.bg-dark {
  background-color: #2A3A4A !important;
}

.login-box {
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  background-color: #17d4c8;
  padding: 15px 50px;
  color: rgb(0, 0, 0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 18px;
}
/* Custom placeholder styling */
.custom-placeholder::-webkit-input-placeholder {
  color: white;
}

.custom-placeholder::-moz-placeholder {
  color: white;
}

.custom-placeholder:-ms-input-placeholder {
  color: white;
}

.custom-placeholder::placeholder {
  color: white;
}

.signup-box {
  position: absolute;
  left: 50%;
  top: 70px;
  transform: translateX(-50%);
  background-color: #17d4c8;
  padding: 15px 50px;
  color: rgb(0, 0, 0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 18px;
}
